body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }

*{
    max-width: 1580px;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(9, 0, 0);
    padding-left: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
}
header p{
    color: white;
    font-size: 24px;
    float: left;
    padding-top: 5px
}
header a{
    width: 150px;
    height: 100%;
    color: white;
    font-size: 24px;
    line-height: 100px;
    float: right;
    margin-right: 100px;
    padding-left: 55px;
}
header a:hover{
    background-color: rgb(139, 148, 156);
    transition: all 0.5s;
}



.main-contents{
    width: 0 auto;
    height: 700px;
    background-image: url(photo/rekka-image01.jpg);
    background-size: cover;
}
.main-contents h1{
    color: white;
    text-align: center;
    padding-top: 250px;
    font-size: 100px;
}

.sub-contents{
    width: 0 auto;
    height: 600px;
    background-color: rgb(31, 30, 30);
    padding: 30px 50px;
}
.sns-p{
    float: left;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    font-size: 60px;
    padding-left: 20%;
    line-height: 100px;
}

.sns-list{
    width:  400px;
    height: 600px;
    float: left;
    color: white;
    padding-left: 50px;
}

.twitter-account{
    background-color: rgb(54, 177, 215);
    color: white;
    padding-left: 20px;
}
.instagram-account{
    background-color: rgb(190, 82, 244);
    color: white;
    padding-left: 10px;
}
.facebook-account{
    background-color: rgb(56, 56, 217);
    color: white;
    padding-left: 15px;
    margin-top: 20px;
}

.movie-list{
    width:  400px;
    height: 600px;
    float: right;
    color: white;
}
.movie-p{
    float: right;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    font-size: 40px;
    padding-right: 20%;
    line-height: 100px;
}

.youtube-account{
    background-color: rgb(216, 28, 28);
    color: white;
    padding-left: 30px;
}
.tiktok-account{
    background-color: rgb(219, 219, 51);
    color: black;
    padding-left: 50px;
}

.snsbtn{
    display: inline-block;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    padding-top: 25px;
    box-shadow: 2px 6px #000000;
}
.snsbtn:hover{
    opacity: 0.5;
    transition: all 0.3s;
}
.snsbtn:active{
    position: relative;
    top: 6px;
    box-shadow: none;
    opacity: 0.8;
   }



footer{
    width: 0 auto;
    height: 500px;
    margin: 50px 0;
    margin-left: 50px;
}
.footer-contact-form{
    float: left;
}
.footer-contact-form-name{
    margin: 30px 0 20px 0;
}
.footer-contact-form-detail{
    margin: 30px 0 20px 0;
}
.footer-contact-form-input{
    padding-bottom: 10px;
    padding-right: 60px;
    font-size: 20px;
    background-color: rgb(185, 182, 182);
}
.footer-contact-form textarea{
    padding-bottom: 10px;
    padding-right: 137px;
    font-size: 16px;
    background-color: rgb(185, 182, 182);
}
.footer-contact-form-submit{
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    opacity: 0.7;
    border-radius: 5px;
    box-shadow: 1px 5px rgb(79, 77, 77);
}
.footer-contact-form-submit:hover{
    opacity: 1.0;
}
.footer-contact-form-submit:active{
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 1px;
}
.footer-to-top{
    width: 1400px;
    text-align: center;
    font-size: 20px;
    margin-top: 150px;
}
